In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/Lowfa/CP421/data_mining_project/Data/Players_10.csv')
training_data = data.drop(['Player', 'School', 'Pos'], axis=1)
training_data = training_data.dropna()
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle  Draft_Pick
0  77.0  300.0  5.31      29.0   25.0       103.0   7.60     4.63         110
1  77.0  325.0  5.31      29.0   29.0       103.0   8.27     4.75          92
2  73.0  302.0  4.93      26.5   34.0        92.0   7.62     4.62          -1
3  77.0  308.0  5.28      31.0   28.0       102.0   7.66     4.64         101
5  78.0  323.0  5.21      26.0   25.0       100.0   7.84     4.81         117

In [2]:
cond = training_data['Draft_Pick'] == -1
training_data.loc[cond,'Draft_Pick'] = 'Not Drafted'
cond = training_data['Draft_Pick'] != 'Not Drafted'
training_data.loc[cond,'Draft_Pick'] = 'Drafted'
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle   Draft_Pick
0  77.0  300.0  5.31      29.0   25.0       103.0   7.60     4.63      Drafted
1  77.0  325.0  5.31      29.0   29.0       103.0   8.27     4.75      Drafted
2  73.0  302.0  4.93      26.5   34.0        92.0   7.62     4.62  Not Drafted
3  77.0  308.0  5.28      31.0   28.0       102.0   7.66     4.64      Drafted
5  78.0  323.0  5.21      26.0   25.0       100.0   7.84     4.81      Drafted

In [3]:
from sklearn import svm
clf = svm.SVC(kernel='linear', class_weight = 'balanced')

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(training_data.drop(['Draft_Pick'],axis=1), training_data['Draft_Pick'], test_size=0.3,random_state=109)

In [5]:
clf.fit(X_train, y_train)

SVC(class_weight='balanced', kernel='linear')

In [6]:
y_pred = clf.predict(X_test)

In [7]:
from sklearn import metrics

In [8]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6448598130841121

In [9]:
print("Precision:",metrics.precision_score(y_test, y_pred, pos_label = 'Drafted'))

Precision: 0.8088235294117647

In [10]:
print("Recall:",metrics.recall_score(y_test, y_pred, pos_label = 'Drafted'))

Recall: 0.6875