In [13]:
import pandas as pd
data = pd.read_csv('C:/Users/Lowfa/CP421/data_mining_project/Data/Players.csv')
training_data = data.drop(['Player', 'School', 'Pos'], axis=1)
training_data = training_data.dropna()
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle  Draft_Pick
0  76.0  334.0  5.56      25.0   23.0        94.0   8.48     4.98         188
1  78.0  312.0  5.34      28.0   20.0        96.0   7.72     4.73         247
3  76.0  302.0  5.07      31.5   17.0       103.0   7.76     4.58         206
4  77.0  297.0  5.16      31.0   28.0       100.0   7.82     4.48         112
5  79.0  304.0  5.08      31.0   28.0       103.0   7.65     4.65         123

In [14]:
cond = training_data['Draft_Pick'] == -1
training_data.loc[cond,'Draft_Pick'] = 'Not Drafted'
cond = training_data['Draft_Pick'] != 'Not Drafted'
training_data.loc[cond,'Draft_Pick'] = 'Drafted'
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle Draft_Pick
0  76.0  334.0  5.56      25.0   23.0        94.0   8.48     4.98    Drafted
1  78.0  312.0  5.34      28.0   20.0        96.0   7.72     4.73    Drafted
3  76.0  302.0  5.07      31.5   17.0       103.0   7.76     4.58    Drafted
4  77.0  297.0  5.16      31.0   28.0       100.0   7.82     4.48    Drafted
5  79.0  304.0  5.08      31.0   28.0       103.0   7.65     4.65    Drafted

In [15]:
from sklearn import svm
clf = svm.SVC(kernel='linear', class_weight = 'balanced')

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(training_data.drop(['Draft_Pick'],axis=1), training_data['Draft_Pick'], test_size=0.3,random_state=109)

In [17]:
clf.fit(X_train, y_train)

SVC(class_weight='balanced', kernel='linear')

In [18]:
y_pred = clf.predict(X_test)

In [19]:
from sklearn import metrics

In [20]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7268518518518519

In [23]:
print("Precision:",metrics.precision_score(y_test, y_pred, pos_label = 'Drafted'))

Precision: 0.8357142857142857

In [26]:
print("Recall:",metrics.recall_score(y_test, y_pred, pos_label = 'Drafted'))

Recall: 0.7647058823529411