In [1]:
import pandas as pd
data = pd.read_csv('Training(2000-2017).csv')
training_data = data.drop(['Player', 'School', 'Pos'], axis=1)
training_data = training_data.dropna()
training_data.head()

   Ht   Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle  Draft_Pick
0  76  334  5.56      25.0   23.0        94.0   8.48     4.98         188
1  78  312  5.34      28.0   20.0        96.0   7.72     4.73         247
3  76  302  5.07      31.5   17.0       103.0   7.76     4.58         206
4  77  297  5.16      31.0   28.0       100.0   7.82     4.48         112
5  79  304  5.08      31.0   28.0       103.0   7.65     4.65         123

In [2]:
cond = training_data['Draft_Pick'] == -1
training_data.loc[cond,'Draft_Pick'] = 'Not Drafted'
cond = training_data['Draft_Pick'] != 'Not Drafted'
training_data.loc[cond,'Draft_Pick'] = 'Drafted'
training_data.head()

   Ht   Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle Draft_Pick
0  76  334  5.56      25.0   23.0        94.0   8.48     4.98    Drafted
1  78  312  5.34      28.0   20.0        96.0   7.72     4.73    Drafted
3  76  302  5.07      31.5   17.0       103.0   7.76     4.58    Drafted
4  77  297  5.16      31.0   28.0       100.0   7.82     4.48    Drafted
5  79  304  5.08      31.0   28.0       103.0   7.65     4.65    Drafted

In [51]:
from sklearn import svm
clf = svm.SVC(kernel='linear', class_weight = 'balanced')

In [52]:
#our model
clf.fit(training_data.drop(['Draft_Pick'],axis=1), training_data['Draft_Pick'])

SVC(class_weight='balanced', kernel='linear')

In [53]:
from sklearn import metrics
#import the data
data = pd.read_csv('Testing(2018-2021).csv')
testing_data = data.drop(['Player', 'School', 'Pos'], axis=1)
testing_data = testing_data.dropna()
#change from multiclass to binary
cond = testing_data['Draft_Pick'] == -1
testing_data.loc[cond,'Draft_Pick'] = 'Not Drafted'
cond = testing_data['Draft_Pick'] != 'Not Drafted'
testing_data.loc[cond,'Draft_Pick'] = 'Drafted'
#split into actuals and prediction values
actuals = testing_data['Draft_Pick']
predict = testing_data.drop(['Draft_Pick'],axis=1)

predict = clf.predict(predict)

print("Accuracy:",metrics.accuracy_score(actuals, predict))

Accuracy: 0.6935483870967742

In [54]:
print("Precision:",metrics.precision_score(actuals, predict,pos_label = 'Drafted'))

Precision: 0.7375

In [55]:
print("Recall:",metrics.recall_score(actuals, predict,pos_label = 'Drafted'))

Recall: 0.7763157894736842