In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/Lowfa/CP421/data_mining_project/Data/Players_15.csv')
training_data = data.drop(['Player', 'School', 'Pos'], axis=1)
training_data = training_data.dropna()
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle  Draft_Pick
0  77.0  316.0  5.41      31.5   23.0        98.0   8.36     5.07         176
2  77.0  293.0  5.30      28.0   16.0       106.0   7.90     4.55          89
3  75.0  303.0  4.83      31.5   27.0       106.0   7.31     4.50          56
4  78.0  309.0  5.28      26.0   24.0       102.0   7.80     4.63         187
5  76.0  299.0  5.05      32.5   21.0       110.0   7.43     4.58          47

In [2]:
cond = training_data['Draft_Pick'] == -1
training_data.loc[cond,'Draft_Pick'] = 'Not Drafted'
cond = training_data['Draft_Pick'] != 'Not Drafted'
training_data.loc[cond,'Draft_Pick'] = 'Drafted'
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle Draft_Pick
0  77.0  316.0  5.41      31.5   23.0        98.0   8.36     5.07    Drafted
2  77.0  293.0  5.30      28.0   16.0       106.0   7.90     4.55    Drafted
3  75.0  303.0  4.83      31.5   27.0       106.0   7.31     4.50    Drafted
4  78.0  309.0  5.28      26.0   24.0       102.0   7.80     4.63    Drafted
5  76.0  299.0  5.05      32.5   21.0       110.0   7.43     4.58    Drafted

In [3]:
from sklearn import svm
clf = svm.SVC(kernel='linear', class_weight = 'balanced')

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(training_data.drop(['Draft_Pick'],axis=1), training_data['Draft_Pick'], test_size=0.3,random_state=109)

In [5]:
clf.fit(X_train, y_train)

SVC(class_weight='balanced', kernel='linear')

In [6]:
y_pred = clf.predict(X_test)

In [7]:
from sklearn import metrics

In [8]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6178343949044586

In [9]:
print("Precision:",metrics.precision_score(y_test, y_pred, pos_label = 'Drafted'))

Precision: 0.7831325301204819

In [10]:
print("Recall:",metrics.recall_score(y_test, y_pred, pos_label = 'Drafted'))

Recall: 0.6074766355140186