In [1]:
import pandas as pd
data = pd.read_csv('C:/Users/Lowfa/CP421/data_mining_project/Data/Players_5.csv')
training_data = data.drop(['Player', 'School', 'Pos'], axis=1)
training_data = training_data.dropna()
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle  Draft_Pick
0  73.0  294.0  5.29      26.5   23.0       101.0   7.90     4.73          -1
1  77.0  321.0  5.28      25.5   20.0       103.0   7.96     4.71         121
3  74.0  298.0  5.36      27.5   29.0        99.0   7.52     4.53         248
4  74.0  302.0  5.33      28.5   24.0        96.0   7.52     4.69         128
5  75.0  303.0  5.01      28.0   25.0       108.0   7.31     4.27          -1

In [2]:
cond = training_data['Draft_Pick'] == -1
training_data.loc[cond,'Draft_Pick'] = 'Not Drafted'
cond = training_data['Draft_Pick'] != 'Not Drafted'
training_data.loc[cond,'Draft_Pick'] = 'Drafted'
training_data.head()

     Ht     Wt  40yd  Vertical  Bench  Broad_Jump  3Cone  Shuttle   Draft_Pick
0  73.0  294.0  5.29      26.5   23.0       101.0   7.90     4.73  Not Drafted
1  77.0  321.0  5.28      25.5   20.0       103.0   7.96     4.71      Drafted
3  74.0  298.0  5.36      27.5   29.0        99.0   7.52     4.53      Drafted
4  74.0  302.0  5.33      28.5   24.0        96.0   7.52     4.69      Drafted
5  75.0  303.0  5.01      28.0   25.0       108.0   7.31     4.27  Not Drafted

In [3]:
from sklearn import svm
clf = svm.SVC(kernel='linear', class_weight = 'balanced')

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(training_data.drop(['Draft_Pick'],axis=1), training_data['Draft_Pick'], test_size=0.3,random_state=109)

In [5]:
clf.fit(X_train, y_train)

SVC(class_weight='balanced', kernel='linear')

In [6]:
y_pred = clf.predict(X_test)

In [7]:
from sklearn import metrics

In [8]:
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5789473684210527

In [9]:
print("Precision:",metrics.precision_score(y_test, y_pred, pos_label = 'Drafted'))

Precision: 0.75

In [10]:
print("Recall:",metrics.recall_score(y_test, y_pred, pos_label = 'Drafted'))

Recall: 0.5526315789473685